:root{
		--background-color: #e5e7eb;
		--target-color: #ffffff;
		--main-color: #00418a;
		--main-color-hover: #221183;
		--text-color: #484141;
}

body{
		background-color: var(--background-color);
		color: var(--text-color);
}

/*General*/
.content-section{
		padding-top: 2em;
}
.link{
		transition: transform 300ms;
}
.link:hover{
		transform: scale(1.05);
}
.target-background{
		background-color: var(--target-color);
}
.sidebar-shadow{
		box-shadow: -2px 0px 5px -5px rgba(30, 30, 60, 0.13);
}
.general-shadow{
		box-shadow: -2px 5px 17px 5px rgba(30, 30, 60, 0.13);
}
.header{
		display: flex;
		justify-content: space-between;
		padding: .5em 2em;
}
.fa-gear{
		transition: transform 300ms;
}
.fa-gear:hover{
		transform: rotate(360deg);
}
.logo-covao{
		display: block;
		width: 115px;
		margin: 1.5em 2em;
		margin-top: 3em;
}
.menu-list{
		padding: 0 .75em;
		list-style: none;
		margin: 0;
}
.menu-list__item{
		padding: .5em 1em;
		cursor: pointer;
		border-radius: .4em;
		margin-bottom: .5em;
		transition: background-color 200ms, color 100ms, transform 100ms;
}
.menu-list__item:hover{
		background-color: var(--main-color);
		transform:  scale(1.01);
}
.menu-list__item:hover > a{
		color: white !important;
}
.menu-list__link{
		color: var(--text-color);
		text-decoration: none;
		font-size: 1.1rem;
}
/*Administrador*/
.admin-menu{
		width: 20%;
		background-color: var(--target-color);
}
/*Cobros*/
/*Estudiante*/

/*Media Querys*/
@media screen and (max-width: 980px){
		.fa-bars{
				display: block !important;
		}
		.admin-menu{
				display: none;
		}
		.header i{
				font-size: 1.45rem;
		}
}
